.attachments {
    .images {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        overflow-y: auto;

        .image {
            border-radius: 10px;
            margin-right: 10px;
            margin-bottom: 10px;
            height: 80px;
            width: 80px;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;

            img {
                min-width: 80px;
                min-height: 80px;
            }
        }
    }
}

img.hoverable{
    transition: ease 0.4s ;
    &:hover{
        opacity: 0.8;
        transform: scale(1.1);
        transition: ease 0.4s ;
    }
}