@import '../../styles/mixins';

.transports-view-transport {}

.docs {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;

    .doc {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 5px;
        margin-right: 20px;

        i.fa-check-circle {
            position: absolute;
            right: 5px;
            top: 5px;
            color: #ffffff;
        }
        .text-success{
            font-size: 12px;
        }

        .doc-title {
            font-size: 14px;
            color: #000000;
            margin-bottom: 3px;
        }

        .doc-img {
            border-radius: 10px;
            position: relative;
            width: 100px;
            height: 100px;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                min-width: 100%;
                min-height: 100%;
            }
        }
    }
}