@import '../../styles/mixins';

.create-order {



    .create-img {
        width: 150px;
        height: 140px;
        padding: 20px;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .form-control {
        width: 250px !important;
        height: 40px;
    }

    .w-60 {
        flex-basis: 100% !important;
    }

    .form-group {
        label {
            color: #B5B8C2;
        }

        // .input-group {
        //     &:first-child{
        //         display: none;
        //     }
        // }
    }

    .img-center {
        img {

            height: 100px;
        }
    }
}

.auto-container {
    position: relative;

}

.auto-list {
    border-radius: 5px;
    border: 1px solid #c3c3c3;
    max-height: 100px;
    width: 100%;
    overflow-y: scroll;
    position: absolute;
    background-color: #ffffff;
    z-index: 99;

    li {
        width: 100%;
    }
}

.selectMapInput {
    width: 250px;
    height: 15px;
    &>div{
        height: 100%;
        width: 100%;
    }
}